{% extends "base.html" %}
{% block content %} 
<section class="neo4index-cover" id="particles-js">
  <div class="container">
    <div class="row neo4index-vh-50 align-items-center text-left">
      <div class="col-sm">
        <div class="neo4index-text pt-5">
          <h1 class="neo4index-heading text-white mb-4">About neo4index</h1>
          <div class="neo4index-subheading mb-5">
            <p class="h4 font-weight-normal">Learn more about this application.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="neo4index-section">
      <div class="container">
        <div class="row">
          <div class="col-lg">
            <div class="media mb-md-0 mb-3">
              <div class="neo4index-icon"><span class="icon-archive display-4"></span></div>
              <div class="media-body">
                <h5 class="mt-0">arXiv publications</h5>
                <p>neo4index uses metadata imported from <a href="http://arxiv.org">arXiv</a> using OAI-PMH harvester. arXiv is an e-print service with open access.</p>
              </div>
            </div>
          </div>
          <div class="col-lg">
            <div class="media mb-md-0 mb-3">
              <div class="neo4index-icon"><span class="icon-share display-4"></span></div>
              <div class="media-body">
                <h5 class="mt-0">Generated citations</h5>
                <p>arXiv does not provide citations metadata so they were pseudo-randomly simulated by a <a href="">script</a>.</p>
              </div>
            </div>
          </div>
          <div class="col-lg">
            <div class="media mb-md-0 mb-3">
              <div class="neo4index-icon"><span class="icon-database display-4"></span></div>
              <div class="media-body">
                <h5 class="mt-0">Flask and Neo4j database</h5>
                <p>Backend of this app was written in Flask (Python framework). All the data is stored in Neo4j 3.3.2 graph database.</p>
              </div>
            </div>
          </div>
          <div class="col-lg">
            <div class="media mb-md-0 mb-3">
              <div class="neo4index-icon"><span class="icon-bar-graph display-4"></span></div>
              <div class="media-body">
                <h5 class="mt-0">Citation impact indices</h5>
                <p>Application evaluates scientific reasearch impact using six popular author-level metrics (h-index and its variants).</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg">
            <h2>Background</h2>
            <p>This application is a part of Master's Thesis - "Badanie dorobku naukowego na podstawie danych grafowych" (ang. "Evaluation of scientific research impact using graph data") by <a href="mailto:jacekmiecznikowski@outlook.com">Jacek Miecznikowski</a>.</p>
            <p>Citations are very important for the world of science. Scientific achievements of researchers are often estimated based on research carried out on bibliographic lists. Scientists who are cited more often are considered the most valuable. The evolution of the Internet requires the development of information storage methods, because data is constantly increasing in quantity. Non-relational databases have been gaining popularity over the last years, because traditional database solutions, despite being a standard, do not necessarily cope well with storing and processing huge amounts of connected data. The graph model of data representation becomes noteworthy in such cases.</p>
            <h2>Stats and methods</h2>
            <h4>Number of publications stored in database: {{ data.articles }}</h4>
            <h4>Count of individual authors imported: {{ data.scientists }}</h4>
            <h4>Generated relationships: {{data.relationships }}</h4>
            <p>At this moment this application implements 6 author-level metrics:
              <ul>
                <li>h-index</li>
                <li>m quotient</li>
                <li>e-index</li>
                <li>m-index</li>
                <li>r-index</li>
                <li>ar-index</li> 
              </ul>
              Author-level metrics are citation metrics that measure the bibliometric impact of individual authors, researchers, academics, and scholars.
            </p>
          </div>
      </div>
    </section>
{% endblock %}